version: '3.7'

services:
  influxdb:
    image: influxdb:1.8-alpine
    container_name: influxdb
    restart: unless-stopped
    environment:
      - INFLUXDB_DB={{ group_vars.influxdb.db_name }}
      - INFLUXDB_ADMIN_USER={{ vault.influxdb.admin_user }}
      - INFLUXDB_ADMIN_PASSWORD={{ vault.influxdb.admin_password }}
      - INFLUXDB_HTTP_AUTH_ENABLED={{ group_vars.influxdb.http_auth_enabled }}
    ports:
      - "{{ group_vars.influxdb.host_port }}:{{ group_vars.influxdb.container_port }}"
    volumes:
      - influxdb_data:/var/lib/influxdb

  grafana:
    image: grafana/grafana
    container_name: grafana-server
    restart: unless-stopped
    depends_on:
      - influxdb
    links:
      - influxdb
    ports:
      - "{{ group_vars.grafana.host_port }}:{{ group_vars.grafana.container_port }}"
    volumes:
      - grafana_data:/var/lib/grafana
      
volumes:
  grafana_data: {}
  influxdb_data: {}